POSTGRES_USER=username
POSTGRES_PASSWORD=password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=password

GRAFANA_USER=admin
GRAFANA_PASSWORD=password

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL_NAME=llama3.1:8b